* {
  box-sizing: border-box;
}

body {
  background-color: #5C7178;
  text-align: center;
}

.searchTitle {
  padding: 30px;
  padding-left: 14%;
  padding-right: 14%;
  margin: 15%;
  margin-top: 5%;
  color: inherit;
  background-color: #eee;
}

.btn {
  width: 32%;
}

.title {
  margin: 20px;
  color: #080808;
  font: small-caps 24px Helvetica;
  letter-spacing: 0.5em;
  border: solid 1px #23292B;
  padding: 1px;
  padding-left: 13px;
}

.frame {
  margin: 0;
  padding: 0;
  /*border: 4px solid darkslategray;*/
  -webkit-box-shadow: inset 0px 0px 36px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 36px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 36px 5px rgba(0, 0, 0, 0.75);
}

.navmenu {
  padding: 40px;
  color: #cccccc;
  width: 80%;
  margin: 0 auto;
}

.picInResults {
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
  height: 180px;
  background-size: cover;
}

.picInResults:hover {
  border-color: #1494D9;
  -webkit-box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
}

.previewPic {
  margin: 0%;
  margin-top: 15%;
}

.previewButtons {
  top: 90%;
  left: 22.9%;
  width: 87%;
  position: absolute;
}

#scrollResults {
  overflow-y: auto;
  float: left;
  width: 34%;
  height: 100%;
  border: solid 5px transparent;
  margin-top: 9px;
  color: white;
}

#previewResults {
  float: right;
  width: 66%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  color: #ffffff;
  /*line-height: 550px;*/
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  z-index: -20;
  right: 0;
}

.overlay span {
  /*background-color: #c0c;*/
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 0;
  font-size: x-large;
  color: #fff;
  display: inline;
  margin: 0;
  border: 20px solid rgba(1, 1, 1, 0.7);
  background-color: #000000;
}

.wrapper {
  opacity: 0.99;
  display: inline-block;
  position: relative;
  width: 650px;
  height: 650px;
  float-offset: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.wrapper.column {
  display: inline-block;
  position: relative;
  background-color: #23292B;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 120%;
  padding-bottom: 9px;
  margin-top: 7px;
}

.mycontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.mycontainer.active {
  opacity: 1;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mycontainer.myhidden {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;
}

.mycontainer.result {
  z-index: -20;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #23292B;
}

.container.preview {
  z-index: 30;
  position: absolute;
  width: 20%;
  height: 20%;
}

.box {
  width: 32%;
  height: 32%;
  /*margin: 1%;*/
  margin-top: 1%;
  margin-left: 0.9%;
  overflow: hidden;
  border: 3px solid #23292B;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  float: left;
  /*transition: white 1.5s;*/
}

.box:hover {
  /*border: 3px;*/
  /*border-color: #1494D9;*/
  -webkit-box-shadow: 0px 33px 70px 18px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 33px 70px 18px rgba(0, 0, 0, 1);
  box-shadow: 0px 33px 70px 18px rgba(0, 0, 0, 1);
  transition: all 0.2s linear;
}

.box:hover .cluster {
  /*z-index: 10;*/
}

.over {
  height: 50% !important;
  cursor: pointer;
  padding-top: 17%;
  font-size: large;
  position: relative;
  opacity: 1;
}

.over.results {
  color: #ffffff;
}

.over.search {
  color: #000000;
  background-color: #ffffff;
}

.box.mini {
  flex: 33% 1 0;
  padding: 0;
  margin: 0;
  width: 33.33%;
  overflow: hidden;
  height: 33.33%;
  border: 2px solid !important;
  pointer-events: none !important;
  border-radius: 0;
  box-shadow: none;
  z-index: -10;
}

.box.cluster {
  pointer-events: none !important;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  margin: 0;
}

.footer {
  bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: x-small;
}

.header {
  margin-top: 12px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
