* {
  box-sizing: border-box;
}

body {
  background-color: #5C7178;
  text-align: center;
  /*margin-bottom: 10%;*/
}

.searchTitle {
  padding: 30px;
  padding-left: 14%;
  padding-right: 14%;
  margin: 15%;
  margin-top: 5%;
  color: inherit;
  background-color: #eee;
}

.btn {
  width: 32%;
}

.btn.black {
  font: small-caps 2.2vmin Helvetica;
  width: 8%;
  color: #ffffff;
  background-color: #23292B !important;
  border: none;
}

.btn.black.l {
  float: left;
}

.btn.black.r {
  float: right;
}

.btn.black:hover {
  background-color: #383838 !important;
}

.title {
  font: small-caps 4vmin Helvetica;
  letter-spacing: 1vw;
  padding-left: 1%;
}

.title.small {
  font: small-caps 2vmin Helvetica;
  letter-spacing: 0.2vw;
}
.title.small.bright {
  font-size: 2.3vmin;
  color: #dedede
}
.title.small.middle {
  color: #5C7178
}

.title.white {
  color: #ffffff;
  border: solid 1px #ffffff;
}

.instructionText {
  margin-bottom: 30px;
}

.navmenu {
  padding: 40px;
  color: #cccccc;
  width: 80%;
  margin: 0 auto;
}

.tags {
  padding: 0 !important;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border: 0 !important;
}

tags-input .tags .tag-item {
  background: none;
  background-color: #232323;
!important;
  color: #d3d3d3 !important;
  border: none !important;
}

#tfnewsearch {
  float: right;
  padding: 20px;
}

.tftextinput {
  position: absolute;
  width: 54.5%;
  padding-left: 10.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.tfbutton {
  position: absolute;
  margin-top: 5px;
  margin-left: 19%;
  padding: 4px 15px;
  cursor: pointer;
  text-align: center;
  color: #ffffff !important;
  border: solid 1px #333333 !important;
  background-color: #232323;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tfbutton:hover {
  text-decoration: none;
  background-color: #2b2b2b;
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}

.tfclear {
  clear: both;
}

.searchField {
  left: 3%;
  top: 3%;
  width: 94%;
  height: 94%;
  padding: 13.5%;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.searchBarBtn {
  position: relative;
  margin-left: 25%;
}

.searchBarWrapper {
  position: relative;
}

.searchBar {
  position: absolute;
  margin: 5%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.picInResults {
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
  height: 180px;
  background-size: cover;
}

.picInResults:hover {
  border-color: #1494D9;
  -webkit-box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
}

.previewPic {
  position: absolute;
  margin: 0;
  margin-top: 25%;
}

.previewButtons {
  top: 90%;
  left: 22.9%;
  width: 87%;
  position: absolute;
}

#scrollResults {
  overflow-y: auto;
  padding: 2px;
}

#resultImg {
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#resultImg:hover {
  border: 5px solid greenyellow;
  bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

#previewResult {
  position: relative;
  z-index: -10;
  /* top: 1.8%; */
  float: left;
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  color: #ffffff;
  /*line-height: 550px;*/
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  z-index: -20;
  right: 0;
}

.overlay span {
  /*background-color: #c0c;*/
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 0;
  font: small-caps 4vw Helvetica;;
  color: #fff;
  display: inline;
  margin: 0;
  margin-top: 6%;
  border: 20px solid rgba(1, 1, 1, 0.7);
  background-color: #000000;
}

.wrapper {
  z-index: -5;
  width: 100vmin;
  height: 100vmin;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0;
  padding-top: 1vw;
}

.wrapper.column {
  z-index: 0;
  display: inline-block;
  position: relative;
  width: 90%;
  height: 90%;
  top: 0;
  background-color: #23292B;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.mycontainer {
  margin: 1%;
  width: 98%;
  height: 98%;
  /*pointer-events: none;*/

  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.mycontainer.active {
  z-index: 1;
  overflow: hidden;

}

.mycontainer.myhidden {
  z-index: -5;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.mycontainer.result {
  overflow: scroll;
  z-index: -20;
  opacity: 0;
  width: 98%;
  height: 98%;
  position: absolute;
  background-color: #23292B;
  -webkit-box-shadow: inset 0px 0px 68px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 68px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 68px 2px rgba(0, 0, 0, 0.75);
}

.container.preview {
  z-index: 0;
  position: absolute;
  width: 20%;
  height: 20%;
}

.box {
  width: 24%;
  height: 24%;
  z-index: 1;
  /*margin: 1%;*/
  margin-top: 1%;
  margin-left: 0.9%;
  overflow: hidden;
  border: 3px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  float: left;

}

.box:hover {
  cursor: pointer;
}

.resultCard {
  cursor: pointer;
  position: relative;
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  z-index: 2;
  padding: 0;

}

.over {
  height: 50% !important;
  width: 100%;
  z-index: 15;
  /*padding-top: 12%;*/
  position: absolute;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.overText {
  font: small-caps 18px Helvetica;;
  color: #ffffff;
  position: relative;
  top: 37%;
}

.overText.small {
  font-size: 1.8vw;
  top: 16%;
}

.overText.middle {
  font-size: 1.8vw;
  top: 51%;
}

.over.search {
  top: 50%;
  /*background-color: rgba(0,0,0,0.4);*/
}

.over:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  /*background-color: rgba(2,200,255,0.3);*/

}

.bigOver {
  position: relative;
  vertical-align: middle;
}

.box.mini {
  /*flex: 33% 1 0;*/
  padding: 1px;
  margin: 0;
  width: 50%;
  overflow: hidden;
  height: 50%;
  border: 0px solid greenyellow;
  /*border: 2px solid !important;*/
  /*pointer-events: none !important;*/
  border-radius: 0;
  box-shadow: none;
  background-color: #696968;
  z-index: 2;
}

.box.mini:hover {

  /*border: 3px solid red !important;*/
}

.box.cluster {
  z-index: 1;
  /*pointer-events: none !important;*/
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0px solid greenyellow;
  margin: 0;
}

.footer {
  position: relative;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.header {
  padding-top: 1vw;
  display: inline-block;
  position: relative;
  background-color: #23292B;
  width: 90%;
  border: 6px solid #23292B;
  -moz-border-radius: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  vertical-align: middle;
}
