* {
  box-sizing: border-box;
}

body {
  background-color: #5C7178;
  text-align: center;
}
h2 {
  color: white;
  /*text-align: center;*/
  /*float: left;*/
}

h4 {
  line-height: 500px;
}
h3 {
  color: #aaaaaa;
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
}
.searchTitle {
  padding: 30px;
  padding-left: 14%;
  padding-right: 14%;
  margin: 15%;
  margin-top: 5%;
  color: inherit;
  background-color: #eee;
}
.searchBar{
  /*left: 50%;*/
  /*width: 50%;*/
  /*float: left;*/
}
.btn {
 width: 32%;
}
.title {
  margin: 20px;
  color: #080808;
  /*margin: 3%;*/
  font: small-caps 24px Helvetica;
  /*font-family: Helvetica;*/
}
.mybutton {
  color: #cccccc !important;
  /*margin: 0.5%;*/
  padding: 0 !important;
  width: 150px;
  height: 80%;
  background-color: #DCDCDC !important;
  text-align: center;
}
.frame {
  margin: 0;
  padding: 0;
  /*border: 4px solid darkslategray;*/
  -webkit-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
}
.navmenu {
  padding: 40px;
  color: #cccccc;
  /*text-align: center;*/
  width: 80%;
  margin: 0 auto;
  /*margin-top: 20px;*/
}
.imgTooltip {
  z-index: 30;
  pointer-events: none;
  margin-bottom: auto;
  position: fixed;
  border: 3px solid #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /*-webkit-box-shadow: -15px 15px 25px 0px rgba(0, 0, 0, 0.75);*/
  /*-moz-box-shadow: -15px 15px 25px 0px rgba(0, 0, 0, 0.75);*/
  /*box-shadow: -15px 15px 25px 0px rgba(0, 0, 0, 0.75);*/
  /*preview in the page center --> */
  top: 30%;
  left: 40%;

  transform: translate(-0%, -30%);
  -webkit-box-shadow: 0px 0px 155px 65px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 155px 65px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 155px 65px rgba(0,0,0,0.75);
}
.tip {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
  font-size: xx-large;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
}
.masonry-item {
  /* width: 220px; */
  margin-right: 20.5%;
  width: 30%;
  height: 144px;
  /* vertical-align: middle; */
  border: solid 1px black;
  border-left: 15px;
  /* float: left; */
  background-size: cover;
}
.masonry-item:hover {
  /*border: 3px;*/
  border-color: #1494D9;
  -webkit-box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 74px 15px rgba(0, 0, 0, 0.75);
}
.previewPic {
  left: 50%;
  position: fixed;
  z-index: 20;
}
#scrollResults {
  float:left;
  /*width:50%;*/
}
#previewResults {
  float:right;
  /*width:50%;*/
  background-color: rgba(0,0,0,0.5);
}

.overlay {
  color: #ffffff;
  /*line-height: 550px;*/
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  z-index: -20;
  right: 0;
}
.overlay span {
  /*background-color: #c0c;*/
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 0;
  font-size: x-large;
  color: #fff;
  display: inline;
  margin: 0;
  border: 20px solid rgba(1, 1, 1, 0.7);
  background-color: #000000;
}

.wrapper {
  opacity: 0.99;
  display: inline-block;
  position: relative;
  width: 650px;
  height: 650px;

  float-offset: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  /*border: 2px solid darkslategray;*/
  /*border-radius: 15px;*/
  margin: 5px auto;
  overflow: hidden;
}

.wrapper.column {
  display: inline-block;
  position: relative;
  background-color: #23292B;
  /*width: 120%;*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border: 2px solid darkslategray;
  border-radius: 15px;
  height: 120%;
  padding-bottom: 9px;
  /*border: none;*/
}

.mycontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  /*transition: opacity 1.5s, width 1.5s, height 1.5s, top 1.5s, left 1.5s;*/
}

.mycontainer.active {
  opacity: 1;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mycontainer.myhidden {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;
}
.mycontainer.result {
  z-index: -20;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #23292B;
  overflow-y:auto;
}

.container.preview {
  z-index: 30;
  position: absolute;
  width: 20%;
  height: 20%;
}

.box {
  width: 32%;
  height: 32%;
  /*margin: 1%;*/
  margin-top: 1%;
  margin-left: 0.9%;
  overflow: hidden;
  border: 3px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  background-size: cover;
  float: left;
  /*transition: white 1.5s;*/
}

.box:hover {
  /*border: 3px;*/
  /*border-color: #1494D9;*/
  -webkit-box-shadow: 0px 33px 70px 18px rgba(0,0,0,1);
  -moz-box-shadow: 0px 33px 70px 18px rgba(0,0,0,1);
  box-shadow: 0px 33px 70px 18px rgba(0,0,0,1);
  transition: all 0.2s linear;
}

.box:hover .cluster {
  /*z-index: 10;*/
}
.over {
  height: 50% !important;
  cursor: pointer;
  padding-top: 17%;
  font-size: large;
  position: relative;
  opacity: 1;
}
.over.results {
  color: #ffffff;
}
.over.search {
  color: #000000;
  background-color: #ffffff;
}
.box.mini {
  flex: 33% 1 0;
  padding: 0;
  margin: 0;
  width: 33.33%;
  overflow: hidden;
  height: 33.33%;
  border: 1px solid #000000 !important;
  pointer-events: none !important;
  border-radius: 0;
  box-shadow: none;
  z-index: -10;
}

.box.cluster {
  pointer-events: none !important;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  margin: 0;
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*align-content: stretch;*/
}

.footer {
  bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: x-small;
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: darkslategray;*/
}
.header {
  margin-top: 12px;
  height: 30px;
  /*background-color: darkslategray;*/
  text-align: center;
  /*display: table-cell;*/
  vertical-align: middle;
}

.navbar .container {
  width: auto;
  padding: 0;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.animate-enter,
.animate-leave
{
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
  left: 100%;
}
.animate-enter.animate-enter-active {
  left: 0;
}

.animate-leave {
  left: 0;
}
