<body class="body" ng-app="PicNavigatorApp">
<script src="bower_components/masonry/masonry.js"></script>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<div class="header">
  <span class="title">Picture Navigator 1.8</span>
</div>
<div class="overlay">
  <span> L O A D I N G </span>
</div>
<div class="frame">
  <div class="wrapper column">
    <div class="wrapper">
      <div id="conA" class="mycontainer active">
        <div class="box"
             ng-repeat="pic in picList"
             ng-hide="hideBox(pic)"
             ng-mouseenter="picBoxMouseEnter($index)"
             ng-mouseleave="picBoxMouseLeave($index)"
             ng-controller="picBoxController">
          <div class="over results"
               ng-if="preview"
               ng-click="goToResults($index)">
            <span class="glyphicon glyphicon-eye-open"></span> Show results
          </div>
          <div class="over search"
               ng-if="preview"
               ng-click="continueClusterSearch($index)">
            <span class="glyphicon glyphicon-th"></span> Find similar
          </div>
          <div class="box cluster">
            <img ng-src="{{pic.srcs.previewSrcs[0]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[1]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[2]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[3]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[4]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[5]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[6]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[7]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[8]}}" class="box mini">
          </div>
        </div>
      </div>

      <div id="conB" class="mycontainer myhidden">
        <div class="box"
             ng-repeat="pic in picList"
             ng-hide="hideBox(pic)"
             ng-mouseenter="picBoxMouseEnter($index)"
             ng-mouseleave="picBoxMouseLeave($index)"
             ng-controller="picBoxController">
          <div class="over results"
               ng-if="preview"
               ng-click="goToResults($index)">
            <span class="glyphicon glyphicon-eye-open"></span> Show results
          </div>
          <div class="over search"
               ng-if="preview"
               ng-click="continueClusterSearch($index)">
            <span class="glyphicon glyphicon-th"></span> Find similar
          </div>
          <div class="box cluster">
            <img ng-src="{{pic.srcs.previewSrcs[0]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[1]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[2]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[3]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[4]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[5]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[6]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[7]}}" class="box mini">
            <img ng-src="{{pic.srcs.previewSrcs[8]}}" class="box mini">
          </div>
        </div>
      </div>

      <div id="resultPage" class="mycontainer result" ng-controller="picBoxController">
        <div id="scrollResults">
          <div class="picInResults"
               ng-repeat="pic in resultPics"
               ng-mouseenter="resultPicMouseEnter(pic)"
               ng-mouseleave="resultPicMouseLeave()"
               style="background-image: url({{pic.src}})"></div>
        </div>
        <div id="previewResults">
          <img class="previewPic" ng-src="{{previewPic.originSrc}}">
          <div class="previewButtons">
            <button class="btn btn-default" ng-click="picSelected(previewPic.id)"><span class="glyphicon glyphicon-picture"></span> Original Source</button>
            <button class="btn btn-default" ng-click="singlePicClicked(previewPic.id)"><span class="glyphicon glyphicon-search"></span> Find more</button>
          </div>
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-default" ng-controller="historyController" ng-click="newSearch()"><span class="glyphicon glyphicon-search"></span> New</button>
    <button ng-disabled="backDisabled()" type="submit" class="btn btn-default" ng-controller="historyController" ng-click="back()"><span class="glyphicon glyphicon-backward"></span> Back</button>
    <button id="viewBtn" type="submit" class="btn btn-default" ng-controller="viewController" ng-click="toggleView()"><span class={{getToggleClass()}}></span> {{getToggleTitle()}}</button>
  </div>
</div>
</div>
<div class="footer">HTW Berlin 2015 - Requests to palm-search.com</div>
</body>



