<!--<div class="box"-->
<!--ng-mouseenter="picBoxMouseEnter()"-->
<!--ng-mouseleave="picBoxMouseLeave()"-->
<!--ng-controller="picBoxController"-->
<!--ng-click="continueClusterSearch()">-->
<!--<img ng-src="{{src}}"-->
<!--class="box frameless">-->
<!--<div class="cluster" ng-if="model.preview">-->
<!--<img ng-src="{{model.previewSrcs[0]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[1]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[2]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[3]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[4]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[5]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[6]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[7]}}" class="minibox">-->
<!--<img ng-src="{{model.previewSrcs[8]}}" class="minibox">-->
<!--</div>-->
<!--</div>-->
